/* Kaique Bernardes Ferreira */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}


h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto 20px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

main {
    text-align: center;
}


form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #00000023;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form{
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 10px;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#esqueceu a {
    display: block;
    justify-content: end;
    text-align: left;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
